body {
  padding-top: 70px;
  background: #303e44;
  animation: colorchange 10s infinite;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

.navbar {
  background: linear-gradient(45deg, rgba(0,0,0,0.7), rgba(0,0,0,0.3)) !important;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.navbar .nav-link.active {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transform: scale(1.05);
  transition: transform 0.3s;
}

.navbar .navbar-brand {
  color: white !important;
  font-size: 22px;
}

.navbar .nav-link {
  color: white !important;
  font-size: 18px;
  padding: 8px 15px;
  transition: 0.3s;
  
}

.navbar .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  transform: scale(1.05);
  transition: transform 0.3s;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

h1, p {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

h1 {
  font-size: 40px;
}

p {
  font-size: 22px;
  margin-bottom: -5px;
  margin-top: -10px;
}

.highlight-text {
  font-size: 22px;
}

.cta-link {
  font-weight: bold;
}

@keyframes colorchange {
  0%   {background: #303e44;}
  20%  {background: #2f3144;}
  40%  {background: #392f44;}
  60%  {background: #442f42;}
  80%  {background: #2f443c;}
  100% {background: #293837;}
}

.margin {
  margin-top: 300px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-17px); }
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  animation: square linear infinite;
  left: calc(100% * var(--x));
  animation-duration: calc(15s + (10s * var(--d)));
  width: calc(30px + 50px * var(--s));
  height: calc(30px + 50px * var(--s));
  opacity: 0.7;
  pointer-events: none; 
}

@keyframes square {
  0% { transform: translateY(0) rotate(0deg); opacity: 0; }
  10% { opacity: 0.7; }
  100% { transform: translateY(-2000px) rotate(720deg); opacity: 0; }
}

.social-icons i {
  font-size: 50px;
  margin: 10px;
}

.social-icons a, .cta-link {
  pointer-events: auto;
}